/* Add a black background color to the top navigation

.topnav
  background-color: #333
  overflow: hidden
  max-width: 1100px
  padding: 2vw

  a
    float: left
    display: block
    color: #f2f2f2
    font-size: 1rem
    text-align: center
    text-decoration: none
    text-transform: uppercase
    padding: 0 1vw

/* Style the links inside the navigation bar

/* Add an active class to highlight the current page

.active
  background-color: #4CAF50
  color: white

/* Hide the link that should open and close the topnav on small screens

.topnav .icon
  display: none

/* Dropdown container - needed to position the dropdown content

.dropdown
  float: left
  overflow: hidden

  .dropbtn
    font-size: 1rem
    border: none
    outline: none
    color: white
    padding: 14px 16px
    background-color: inherit
    font-family: inherit
    margin: 0
    text-transform: uppercase

/* Style the dropdown button to fit inside the topnav

/* Style the dropdown content (hidden by default)

.dropdown-content
  display: none
  position: absolute
  background-color: #f9f9f9
  min-width: 160px
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2)
  z-index: 1

  a
    float: none
    color: black
    padding: 12px 16px
    text-decoration: none
    display: block
    text-align: left

/* Style the links inside the dropdown

/* Add a dark background on topnav links and the dropdown button on hover

.topnav a:hover, .dropdown:hover .dropbtn
  background-color: #555
  color: white

/* Add a grey background to dropdown links on hover

.dropdown-content a:hover
  background-color: #ddd
  color: black

/* Show the dropdown menu when the user moves the mouse over the dropdown button

.dropdown:hover .dropdown-content
  display: block

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 600px)
  .topnav a:not(:first-child), .dropdown .dropbtn
    display: none

  .topnav a.icon
    float: right
    display: block

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
@media screen and (max-width: 600px)
  .topnav.responsive
    position: relative

    a
      &.icon
        position: absolute
        right: 0
        top: 0

      float: none
      display: block
      text-align: left

    .dropdown
      float: none

    .dropdown-content
      position: relative

    .dropdown .dropbtn
      display: block
      width: 100%
      text-align: left
