.header
  display: grid
  grid-template-rows: repeat(3, auto)
  background: lightgray
  border-bottom: solid 1px

.headerImg 
  grid-row: 1 / 2
  grid-column: 1 / -1
  ////@media (min-width: 600px)
  //  grid-row: 1 / 3
  //  grid-column: 1 / 16
  //  margin: 0
  //  padding: 0

.headerHeadline 
  grid-row: 1 / 2 
  align-self: center
  grid-column: 1 / -1
  margin: auto 4vw 
  ////@media (min-width: 600px)
  //  grid-row: 1
  //  grid-column: 1 / 16
  //  align-self: end
  //  margin: 0
  //  padding-left: 4vw

.headerHeadline h2
  font-size: 8vw
  color: white
  font-weight: 900
  text-transform: uppercase
  -webkit-text-stroke-color: black
  -webkit-text-stroke-width: 1px
  // //@media (min-width: 600px)
  //  font-size: 6vw
  ////@media (min-width: 1100px)
  //  font-size: 50px


.headerMain 
  margin: 4vw
  grid-row: 3
  ////@media (min-width: 600px)
  //  grid-row: 2 
  //  grid-column-end: 10
  ////@media (min-width: 1100px)
  //  font-size: 20px
  //  max-width: 100%

.content
  margin: 0
  h2
    padding: 0 4vw
  p
    margin: 4vw
  ul
    margin: 4vw

  ////@media (min-width: 600px)
  //  padding: 0
  //p
  //  margin: 0 4vw 0 4vw
  //h2 
  //  margin: 4vw 4vw 2vw 4vw
  //  //@media (min-width: 600px)
  //    margin: 0
  //ul 
  //  grid-column: 1 / -1
  //  margin-left: 
  //  margin: 0 5vw
  //  //@media (min-width: 600px)
  //    display: grid
  //    grid-template-columns: repeat(auto-fill, minmax(calc(10% + 7.5rem), 1fr))
  //    margin: 0
  //    padding: 0
  //li
  //  list-style: circle
  //  padding: 1vw 0
  //  //@media (min-width: 600px)
  //    list-style: none

.contact .headerHeadline
  text-align: right
  h2
    margin: 0

.contact .headerMain
  ////@media (min-width: 600px)
    grid-column: 2
    color: white
    text-align: right

.tools .headerHeadline h2
  color: orange

.tools .headerMain
  ////@media (min-width: 600px)
    grid-column: 1 / 2

footer
  padding: 4vw
  background: #333333
  color: white

  //@media (min-width: 600px)
    grid-column: 1 / 3
    margin: 0
    padding: 0

.about
  .header
    grid-template-rows: 1fr 2fr
    border-bottom: none
  .headerImg
    grid-row: 1 / 4
    grid-column: 1 / -1
  .headerHeadline
    grid-row: 1
    grid-column: 1 / -1
    h2
      font-size: 6vw
      margin-bottom: 0
  .headerMain
    grid-row: 2
    font-size: 1rem
    grid-column: 1 / -1
    margin-top: 2vw

.about .content
  margin: 0

.bigThree
  border-bottom: solid 1px #333
  background: lightgray
  padding: 4vw
  p
    margin: 0 0 4vw 0
    padding: 0
  h2
    padding: 0
  #growth-without-hiring
    margin-top: 0

.referrals
  background: lightgray
  padding-top: 4vw
  border-top: solid 1px
  @media (min-width: 600px)
    padding: 4vw
  p
    margin: 4vw
    border-bottom: solid 1px #333
    @media (min-width: 600px)
      margin: 0
      border-bottom: none

.featuresBlock
  background: lightgray
  border-bottom: solid 1px black

.features 
  padding-top: 2vw

.features h2 
  padding: 0
  margin: 4vw

.features p 
  margin: 4vw

.featuresWide h2, p 
  margin: 4vw
  padding: 0

.referrals h2
  margin-bottom: 4vw

.quote
  margin: 4vw
  grid-gap: 4vw
  display: grid
  grid-template-columns: 1fr 6fr
  @media (min-width: 600px)
    grid-column-gap: 4vw
    margin-bottom: 4vw
    grid-gap: 2vw 4vw
      

.quoteImg
  grid-row: 2 / 3
  border: solid 1px

.quoteMain
  grid-column: 1 / -1
  font-style: italic

.quoteSource
  grid-column: 2

.listing
  border-bottom: solid 1px
  border-top: solid 1px

.smart .listing
  border-top: none

//.connections #smart-benefits
//  border-top: solid 1px
// padding-top: 4vw

.section .features
  border-bottom: solid 1px

@media (min-width: 600px)
  .header
    grid-template-rows: 1fr 1fr 1fr 1fr
    grid-template-columns: 1fr 1fr

    .headerImg
      grid-row: 1 / -1
      grid-columns: 1 / -1

    .headerHeadline
      grid-row: 1
      grid-column: 1 / -1
      align-self: center
      margin: 0 4vw
      h2
        font-size: 3rem
        margin: 4vw 0

    .headerMain
      grid-row: 2 / -1
      grid-column: 1
      margin: 0 0 0 4vw

  .content
    display: grid
    grid-template-columns: 1fr 1fr
    margin: 4vw
    grid-gap: 4vw

    h2
      background: lightgray
      text-align: center
      padding: 4vw
      margin: 0
      grid-row: 1
      margin: 0

    p
      padding: 4vw
      margin: 0
      grid-row: 2

    ul
      margin: 0
      padding: 4vw
      margin: 0

    .features
      border: solid 1px
      margin: 0
      padding: 0
      h2
        text-align: center
        grid-row: 1
        border-bottom: solid 1px
      ul
        grid-row: 2
        border: none
    
  .different .content
    display: block

  .tools .headerMain
    color: lightgray

  .featuresBlock 
    background: none
    border-bottom: none
    display: grid
    grid-row-temp: 
    grid-template-rows: 1fr 1fr
    grid-template-columns: 1fr 1fr
    grid-gap: 4vw
    margin: 4vw

  .featuresWide 
    grid-row: 
    grid-column: 1 / -1
    border: solid 1px
    h2 
      border-bottom: solid

  .quote 
    margin: 4vw
    border-bottom: inherit
    padding-bottom: 4vw
  
  .contentBlock 
    margin: 4vw
    display: grid
    grid-gap: 4vw
  
  .referralsBlock 
    display: block
    margin: 4vw
    border: solid 1px
    h2 
      border-bottom: inherit
      
  .about
    .headerMain
      font-size: 1.5rem
      line-height: 1.2em

    .content
      display: block
      margin: 0

  .contact
    .header 
      color: white
      grid-template-rows: 1fr 1fr 1fr
      grid-template-columns: 2fr 1fr
      .headerImg
        grid-row: 1 / 4
        grid-column: 1 / -1
      .headerHeadline
        grid-row: 1
        grid-column: 2
        margin-right: 4vw
      .headerMain
        grid-row: 2
        grid-column: 2
        margin-right: 4vw
        text-align: right
    .content
      margin: 0
      display: block
