@import "_nav.sass"
@import "_page.sass"

html
  font-size: 16px

body 
  text-align: left
  font-family: 'Lato', 'Roboto', 'Open Sans', sans-serif
  font-size: 1rem
  line-height: 1.2em
  margin: 0 auto
  padding: 0
  max-width: 1100px

h2 
  font-size: 1rem
  
img 
  max-width: 100%
  border-bottom: solid 1px #333

ul
  list-style: none
  margin: 4vw
  padding: 0

li
  padding: 0.3em
  h2
    list-style: none

