<!DOCTYPE html>
<html>
<head>
      {% include "head.html" %}
</head>

<nav>
			{% include "nav.html" %}
</nav>
<body>
      <!-- main sub-template content -->
      {% block body %}
      {% endblock body %}
</body>

<footer>
    {% include "footer.html" %}
</footer>
</html>
