<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://kit.fontawesome.com/9612c66cb3.js" crossorigin="anonymous"></script>
<title>{{ config.title }}</title>
<link rel="stylesheet" href="/style.css">
