{% extends "base.html" %}
{% block body %}

<div class="section">

	<!--header-->

	 <div class="header">
		 <div class="headerImg">
			 <img src="/{{ section.extra.headerImg }}" alt="{{ section.extra.headerImgAlt }}">  
		 </div>

		 <div class="headerHeadline">
			 <h2>{{ section.extra.headerHeadline }}</h2>
		 </div>

		 <div class="headerMain">
			 {{ section.description | safe }}
		 </div>
	</div>

	 <!-- main -->
	 <div class="main">
		 <div class="content">
			 {{ section.content | safe }}
		 </div>
	 </div>

</div>

{% endblock body %}
